.google {
  padding: 10px 0;
  border: 1px solid #d37423;
  border-radius: 7px;
  width: 270px;

  span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000;
  }
}
